body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: antiquewhite;
}


.article {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    
}


.article-one {
    border: 2px solid gray;
}


.article-two {
    border: 2px dashed gray;
}

.article-two p {
    border: 2px dashed red;
    padding: 5px;
}


.article-three {
    border: 2px solid gray;
}

.article-three h2,
.article-three p {
    color: purple;
}


span {
    background-color: khaki;
    font-weight: bold;
}