/* page 12 */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Times New Roman", Times, serif;
}

.page {
    width: 710px;
    margin-left: 102px;
    padding-top: 10px;
}

h1 {
    font-size: 26px;
    margin: 0 0 16px 7px;
    font-weight: bold;
}

p {
    font-size: 15px;
    line-height: 1.15;
    margin: 0 0 18px 7px;
    text-align: left;
}


.fixed-image {
    position: fixed;

    top: 132px;
    right: 126px;

    width: 138px;
    height: 438px;

    border: 1px solid #555;

    object-fit: fill;
}

